* {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: azure;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

body {
    background-color: rgb(67, 67, 67);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.title-card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 64px;
}

.instruction {
    font-size: 24px;
}

.score-card {
    display: flex;
    justify-content: center;
    gap: 128px;
}

.human-score, .computer-score {
    font-size: 32px;
}

.result {
    font-size: 48px;
    text-align: center;
    padding: 24px 0;
}
