@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable-Italic.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Outfit';
    src: url(./fonts/Outfit[wght].woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: azure;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(67, 67, 67);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.title-card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 64px;
    border: 2px solid azure;
    padding: 0px 4px;
}

.instruction {
    font-size: 24px;
    font-weight: normal;
}

.score-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.human-score, .computer-score {
    font-size: 32px;
    border: 2px solid azure;
    padding: 2px 4px;
    margin: 12px 64px 0px 64px;
}

.result {
    font-size: 48px;
    text-align: center;
    padding: 12px 0 32px 0;
}

.options-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
}

.option {
    height: 300px;
    width: 300px;
    border-radius: 24px;
}

.disabled .option{
    filter: brightness(50%);
    border: 10px solid red;
}