* {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: azure;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    background-color: rgb(67, 67, 67);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.title-card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 64px;
    border: 2px solid azure;
    padding: 0px 4px;
}

.instruction {
    font-size: 24px;
    font-weight: normal;
}

.score-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.human-score, .computer-score {
    font-size: 32px;
    border: 2px solid azure;
    padding: 2px 4px;
    margin: 12px 64px 0px 64px;
}

.result {
    font-size: 48px;
    text-align: center;
    padding: 12px 0 32px 0;
}

.options-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}

/* PICTURE SIZE SHOULD BE 300 BY 300PX */
